body {
  margin: 0;
  padding-top: 6%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252C33;
  text-align: center;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track-piece  { 
  background: #abe7dd; 
 }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3ecab8; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-corner       { 
  background: #3ecab8; 

 }

.fadeIn {
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from{ opacity: 0;
  }
  to{ opacity: 1; 
  }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Michroma', sans-serif;
*/

.title-page {
  color: #F4FCFE;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

/* ⬇️⬇️⬇️ LOGO REACT ⬇️⬇️⬇️ */

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ⬆️⬆️⬆️ LOGO REACT ⬆️⬆️⬆️ */

/* ⬇️⬇️⬇️ HEADER ⬇️⬇️⬇️ */

.header-background {
  top: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(15px);
  border-bottom: 2px solid rgba(114, 114, 126, 0.2);
  box-shadow: 0px 0px 8px 2px #131212;

  width: 100%;
  height: 70px;
  z-index: 1;
}

.header-my-name {
  width: 30rem;
  font-family: 'Michroma', sans-serif;
  font-size: 28px;
  color: #4b4c4d;
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(to bottom, #25aae1, #40e495, #2bb673);
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.header-nav-link {
  background-color: transparent;
  width: 150px;
  color: #F4FCFE;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  border: transparent;
}

.header-nav-link:hover {
  font-weight:bold;
  border-bottom: 5px solid;
  border-image: linear-gradient(20deg, #25aae1,#40e495,#2bb673) 1;
}

/* ⬆️⬆️⬆️ HEADER ⬆️⬆️⬆️ */

/* ⬇️⬇️⬇️ ABOUT ⬇️⬇️⬇️ */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 70px;
  width: 100%;
  height: 100%;
}

.about-my-photo {
  width: 300px;
  height: 300px;
  border: 2px solid #ffffff25;
  border-radius: 500px;
  margin-right: 100px;
}

.about-description {
  width: 700px;
  border-bottom: 1px solid;
  border-top: 2px solid;
  border-image: linear-gradient(20deg, #25aae1,#40e495,#2bb673) 1;
}

.about-description-title {
  color: #F4FCFE;
  font-size: 40px;
  font-family: 'Michroma', sans-serif;
  margin-bottom: 50px;
}

.about-description-text {
  color: #F4FCFE;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.about-description-text-trybe {
  color: #3ac38e;
  font-weight: bold;
  text-decoration: none;
  border: transparent;
}

.about-footer {
  bottom: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(15px);
  border-bottom: 2px solid rgba(114, 114, 126, 0.2);
  box-shadow: 0px 0px 8px 2px #131212;

  width: 100%;
  height: 70px;
  z-index: 1;
}

/* ⬆️⬆️⬆️ ABOUT ⬆️⬆️⬆️ */

/* ⬇️⬇️⬇️ CONTACT ⬇️⬇️⬇️ */

.about {

}

/* ⬆️⬆️⬆️ CONTACT ⬆️⬆️⬆️ */

/* ⬇️⬇️⬇️ PORTFOLIO ⬇️⬇️⬇️ */

.portfolio-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.portifolio-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3A4750;
  margin: 35px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 28px 3px #131212;
  transition: 150ms;
}

.portifolio-project:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.portifolio-project-name {
  color: #F4FCFE;
  font-family: 'Michroma', sans-serif;
  font-size: 20px;
}

.portifolio-project-image {
  width: 400px;
  height: 250px;
  border: 1px solid #303041;
  border-radius: 5px;
}

.portifolio-project-description {
  display: flex;
  justify-content:center;
  align-items:center;
  line-height: 20px;
  width: 360px;
  height: 120px;
  color: #F4FCFE;
  text-align: justify;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-image: linear-gradient(20deg, #25aae1,#40e495,#2bb673) 1;
}

.footer-pages {
  bottom: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-top: 2px solid rgba(114, 114, 126, 0.2);
  box-shadow: 0px 0px 8px 2px #131212;
  width: 100%;
  height: 70px;
}

/* 👇 link da personalização do botão: https://cssbuttons.app/buttons/18 */ 

.bn632-hover {
  width: 160px;
  font-size: 18px;
  font-weight: 600;
  color: #303041;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn18 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

/* 👆 link da personalização do botão: https://cssbuttons.app/buttons/19 */ 

/* ⬆️⬆️⬆️ PORTFOLIO ⬆️⬆️⬆️ */

/* ⬇️⬇️⬇️ SERVICES ⬇️⬇️⬇️ */

.about {

}

/* ⬆️⬆️⬆️ SERVICES ⬆️⬆️⬆️ */

/* ⬇️⬇️⬇️ SKILLS ⬇️⬇️⬇️ */

.about {

}

/* ⬆️⬆️⬆️ SKILLS ⬆️⬆️⬆️ */

/* ⬇️⬇️⬇️ FOOTER ⬇️⬇️⬇️ */

.footer-background {
  bottom: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  border-top: 1px solid rgba(114, 114, 126, 0.2);
  width: 100%;
  color: #F4FCFE;
  height: 100px;
}

.footer-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  border-right: 1px solid rgba(114, 114, 126, 0.2);
}

.footer-social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.footer-social-networks-icon {
  width: 35px;
  margin: 10px;
  border-radius: 11px;
}

.footer-social-networks-icon:hover {
  transition: 150ms;
  box-shadow: 0px 0px 5px 2px #adadad;
}

/* ⬆️⬆️⬆️ FOOTER ⬆️⬆️⬆️ */
